<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app pings your location and uses it to get the weather at your exact coordinates.</string>
	<key>CLIENT_ID</key>
	<string>254603901985-7l7vcnif6dhncb1mqhl907apmb3p9usv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254603901985-7l7vcnif6dhncb1mqhl907apmb3p9usv</string>
	<key>API_KEY</key>
	<string>AIzaSyDeW_gieDFKGoRUcHUXv34km3cyL9Kw-V0</string>
	<key>GCM_SENDER_ID</key>
	<string>254603901985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coding.WaterWatch</string>
	<key>PROJECT_ID</key>
	<string>watchwatch-84197</string>
	<key>STORAGE_BUCKET</key>
	<string>watchwatch-84197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:254603901985:ios:8735d7b49d679f15c03760</string>
</dict>
</plist>
